{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="jumbotron ">
    <div class="container">
        <h1>Projet framework sous symfony</h1>
        
      
    </div>
</div>
<div class="card-deck">
            <div class="card bg-secondary">
            <div class="card-body text-white">
                <h4 class="card-title">Identification</h4>
                <p class="card-text">ANDRIAMAHATRADRAIBE<br> Marjean claude</p>
            </div>
                <div class="card-footer bg-dark text-white text-center">L3 IG - N°: 06</div>
            </div>


            <div class="card bg-secondary">
                
                <div class="card-body text-white">
                    <h4 class="card-title">Identification</h4>
                    <p class="card-text">ANDRIAMANANAINA <br> Marie Louisette Melanie </p>
                </div>
                <div class="card-footer bg-dark text-white text-center">L3 IG - N°: 08</div>
            </div>

            <div class="card bg-secondary">
                
                <div class="card-body text-white">
                    <h4 class="card-title">Identification</h4>
                    <p class="card-text">ANDRIAMIHAJA <br> Lucien Aimés </p>
                </div>
                <div class="card-footer bg-dark text-white text-center">L3 IG - N°: 11</div>
            </div>
             <div class="card bg-secondary">
                
                <div class="card-body text-white">
                    <h4 class="card-title">Identification</h4>
                    <p class="card-text">RABENIRINA <br> Onjaniaina </p>
                </div>
                <div class="card-footer bg-dark text-white text-center">L3 IG - N°: 55</div>
            </div>
</div>
{% endblock %}
