
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
var/cache/dev/annotations.php
var/cache/dev/annotations.php
var/cache/dev/profiler/index.csv
var/log/dev.log
var/cache/dev/profiler/index.csv
var/log/dev.log
var/cache/dev/profiler/index.csv
var/log/dev.log
var/log/dev.log
var/cache/dev/profiler/index.csv
