{% extends 'base.html.twig' %}

{% block title %}Famille{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
     {{ form(form) }}
     {% if familles %}

        <table class="table table-striped">
            <thead>
                <tr>
                        <th>title</th>
                        <th>body</th>
                        <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for famille in familles %}
                        <tr>
                            <td>{{famille.id}}</td>
                            <td>{{famille.libelle}}</td>
                            <td>
                                 <a href="{{path('del_famille',{'id':famille.id})}}" 
                                 class="btn btn-danger del">Delete</a>
                            </td>
                        </tr>

                 {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p >aucune article</p>
    {% endif %}
</div>
{% endblock %}
