<form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('vous etes sur de supprimer');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn btn-warning">Effectuer</button>
</form>
