{% extends 'base.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <h2>modification d'un commande</h2>

    {{ include('commande/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
