{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Suppression Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commande.dateComm ? commande.dateComm|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ commande.idClient.nom }}</td>
            </tr>
        </tbody>
    </table>

    

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
