{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Effectuer'}) }}

    


{% endblock %}
